/* Styling for Personal Website Assignment */

/* Laptop, Desktop Displays */

@media only screen and (min-width: 500px) {

body {
	font-family: Avenir Next, 'sans-serif';

}

.navigation {
	width: 95%;
	margin: 0 auto;

}

.navigation ul {
	list-style-type: none;
	float: right;
	padding: 20px 0px 0px 0px;
	flex: auto;

}

.navigation li {
	display: inline-block;
	font-size: 24px;
	font-weight: 100;
	margin: 10px 30px 20px 0px;
	padding: 20px;

}

.navigation a {
	color: #000;
	text-decoration: none;
	padding: 20px;

}

.navigation a:hover {
	transition: .7s;
	opacity: .1;
	font-color: #696969;

}

.navigation h1 {
	font-weight: 100;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding: 20px 25px 20px 25px;
	float: left;
	margin: 25px;

}

.icon {
	display: none;

}

.image_tkover img {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px 20px 0px;

}

.Technical_Creative {
	margin: 0px 100px 0px 100px;

}

.Technical_Creative h2 {
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 1px;

}

.Technical_Creative p {
	font-weight: 100;
	font-size: 24px;
	padding: 20px 0px 0px 0px;

}

.row {
	margin: 0px 40px 0px 40px;

}

.gallery_header h1 {
	font-size: 70px;
	margin: 0px 0px 0px 50px;
	padding: 30px 0px 0px 5px;
	font-weight: 100;
	letter-spacing: .5px;
	clear: both;

}

.sub-div h3 {
	font-size: 30px;
	margin: 30px 0px 0px 52px;
	padding: 20px 0px 0px 5px;
	font-weight: 100;
	letter-spacing: .5px;
	clear: both;

}

hr {
	margin: 75px 0px 0px 0px;
	border-width: 4px;

}

.back_to_top {
	text-align: center;
	margin: 40px 0px 20px 0px;

}

.back_to_top p {
	font-weight: 100;
	padding: 100px 20px 0px 0px;
	margin: 0 auto;

}

.back_to_top a {
	text-decoration: none;
	border: none;
	padding: 10px;
	background-color: #ffffff;
	opacity: 0.7;
	transition: 0.5s;
	border-radius: 5px;

}

.back_to_top a:hover {
	background-color: #0088cc;
	opacity: 1;
	color: #ffffff;

}

.thumbnail {
	border: none;
	margin: 50px 0px 0px 0px;
	opacity: 0.7;
	transition: 0.7s;

}

.thumbnail:hover {
	opacity: 1;

}


.createdby h6 {
	text-align: center;
	font-weight: 500;

}

.email {
	text-align: center;
	font-size: 30px;
	margin: 80px 0px 20px 0px;

}

.email a {
	font-weight: 700;
	text-decoration: none;

}

.email a:hover{
	transition: 1s;

	}

}

@media only screen and (max-width: 500px) {

body {
	font-family: Avenir Next, 'sans-serif';

}

.navigation ul {
	list-style-type: none;
	margin: 0px 45px 0px 0px;

}

#myTopNav a:before {
	visibility: hidden;

}

.navigation li a {
    float: left;
    display: none;
    color: #000000;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    transition: .6s;

}

.navigation a:hover {
    opacity: .1;
    color: #696969;

}

.navigation a.icon {
    float: left;
    display: block;
    text-decoration: none;
    margin: 0px 130px;
	font-size: 30px;
	color: #000000;
	transition: .6s;
	font-weight: 100;
  
}

.navigation.responsive {
	position: relative;

}

.navigation.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
 
 }

.navigation.responsive a {
    float: none;
    display: block;
    text-align: center;
 
 }

.navigation h1 {
	font-weight: 100;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding: 20px 32px 20px 25px;
	float: center;
	margin: 23px;

}

.image_tkover img {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;

}

.Technical_Creative {
	margin: 0px 30px 0px 30px;

}

.Technical_Creative h2 {
	font-size: 25px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 30px;
	display: none;

}

.Technical_Creative p {
	font-weight: 100;
	font-size: 20px;
	padding: 15px 0px 10px 0px;

}

.row {
	margin: 0px 0px 10px 20px

}

.gallery_header h1 {
	font-size: 40px;
	margin: 0px 0px 0px 30px;
	padding: 30px 0px 0px 3px;
	font-weight: 100;
	letter-spacing: .5px;
	clear: both;

}

.sub-div h3 {
	font-size: 25px;
	margin: 10px 5px 10px 45px;
	padding: 30px 0px 0px 0px;
	font-weight: 100;
	letter-spacing: .5px;
	clear: both;

}

.back_to_top {
	text-align: center;
	margin: 40px 30px 30px 0px;

}

.back_to_top a {
	text-decoration: none;
	border: none;
	padding: 10px;
	background-color: #ffffff;
	opacity: 0.7;
	transition: 0.5s;
	border-radius: 5px;

}

.back_to_top a:hover {
	background-color: #0088cc;
	opacity: 1;
	color: #ffffff;

}

.thumbnail {
	border: none;
	margin: 10px 0px 20px 0px;
	padding: 10px;
	width: 90%;
	height: 90%;
	opacity: .8;
	transition: 1s;

}

.thumbnail:hover {
	opacity: 1;

}

hr {
	margin: 25px 0px 10px 0px;
	border-width: 4px;

}

.email {
	text-align: center;
	font-size: 20px;
	margin: 20px 6px 20px 0px;

}

.email a {
	font-weight: 700;
	text-decoration: none;

}

.email a:hover{
	transition: 1s;

	}

}

/* TAK */
